<div id="interactTwoTableContent">
<table class="databaseVisualEventGuidance">
<tr><th class="databaseVisualEventGuidance">User Type</th>
    <th class="databaseVisualEventGuidance">Use</th>
	<th class="databaseVisualEventGuidance">Event</th>
	<th class="databaseVisualEventGuidance">Image Link</th>
	<th class="databaseVisualEventGuidance">Verbal Walk-through</th>
</tr>
<tr>
    <td class="databaseVisualEventGuidance">Service Provider </td>
	<td class="databaseVisualEventGuidance">Response to Consumer Post </td>
	<td class="databaseVisualEventGuidance">Contact Button Push</td>
	<td class="databaseVisualEventGuidance"><%= link_to "Image", sptcimage_path %></td>
	<td class="databaseVisualEventGuidance"><%= link_to "Walk-through", sptcvwt_path %></td>
</tr>
<tr>
    <td class="databaseVisualEventGuidance">Consumer </td>
	<td class="databaseVisualEventGuidance">Response to Service Provider Post </td>
	<td class="databaseVisualEventGuidance">Contact Button Push</td>
	<td class="databaseVisualEventGuidance"><%= link_to "Image", ctspimage_path %></td>
	<td class="databaseVisualEventGuidance"><%= link_to "Walk-through", ctspvwt_path %></td>
</tr>
<tr>
    <td class="databaseVisualEventGuidance">Service Provider </td>
	<td class="databaseVisualEventGuidance">Response to Group Consumer Post </td>
	<td class="databaseVisualEventGuidance">Contact Button Push</td>
	<td class="databaseVisualEventGuidance"><%= link_to "Image", sptgcimage_path %></td>
	<td class="databaseVisualEventGuidance"><%= link_to "Walk-through", sptgcvwt_path %></td>
</tr>
<tr>
    <td class="databaseVisualEventGuidance">Consumer </td>
	<td class="databaseVisualEventGuidance">Response to Group Service Provider Post </td>
	<td class="databaseVisualEventGuidance">Contact Button Push</td>
	<td class="databaseVisualEventGuidance"><%= link_to "Image", ctgspimage_path %></td>
	<td class="databaseVisualEventGuidance"><%= link_to "Walk-through", ctgspvwt_path %></td>
</tr>
<tr>
    <td class="databaseVisualEventGuidance">Group Service Provider </td>
	<td class="databaseVisualEventGuidance">Response to Consumer Post </td>
	<td class="databaseVisualEventGuidance">Contact Button Push</td>
	<td class="databaseVisualEventGuidance"><%= link_to "Image", sptcimage_path %></td>
	<td class="databaseVisualEventGuidance"><%= link_to "Walk-through", sptcvwt_path %></td>
</tr>
<tr>
    <td class="databaseVisualEventGuidance">Group Service Provider </td>
	<td class="databaseVisualEventGuidance">Response to Consumer Group Post </td>
	<td class="databaseVisualEventGuidance">Contact Button Push</td>
	<td class="databaseVisualEventGuidance"><%= link_to "Image", gsptcgimage_path %></td>
	<td class="databaseVisualEventGuidance"><%= link_to "Walk-through", gsptcgvwt_path %></td>
</tr>
<tr>
    <td class="databaseVisualEventGuidance">Group Consumer </td>
	<td class="databaseVisualEventGuidance">Response to Service Provider Post </td>
	<td class="databaseVisualEventGuidance">Contact Button Push</td>
	<td class="databaseVisualEventGuidance"><%= link_to "Image", gctspimage_path %></td>
	<td class="databaseVisualEventGuidance"><%= link_to "Walk-through", gctspvwt_path %></td>
</tr>
<tr>
    <td class="databaseVisualEventGuidance">Group Consumer </td>
	<td class="databaseVisualEventGuidance">Response to Group Service Provider Post </td>
	<td class="databaseVisualEventGuidance">Contact Button Push</td>
	<td class="databaseVisualEventGuidance"><%= link_to "Image", gctspgimage_path %></td>
	<td class="databaseVisualEventGuidance"><%= link_to "Walk-through", gctspgvwt_path %></td>
</tr>
<tr><!--Future User -->
    <td class="databaseVisualEventGuidance">Integrated Legal Service*  </td>
	<td class="databaseVisualEventGuidance">Response to all posts </td>
	<td class="databaseVisualEventGuidance">Contact Button Push</td>
	<td class="databaseVisualEventGuidance"><%= link_to "Image", ilsimage_path %></td>
	<td class="databaseVisualEventGuidance"><%= link_to "Walk-through", ilsvwt_path %></td>
</tr>
<tr>
    <td class="databaseVisualEventGuidance">Admin </td>
	<td class="databaseVisualEventGuidance">Response to All </td>
	<td class="databaseVisualEventGuidance">Contact Button Push</td>
	<td class="databaseVisualEventGuidance"><%= link_to "Image", adminimage_path %></td>
	<td class="databaseVisualEventGuidance"><%= link_to "Walk-through", adminvwt_path %></td>
</tr>
</table>
</br>
</br>
</div>