<p id="notice"><%= notice %></p>

<h1>Listing Interactions</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Category</th>
      <th>Pcs</th>
      <th>Text</th>
      <th>Timestamp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interactions.each do |interaction| %>
      <tr>
        <td><%= interaction.user %></td>
        <td><%= interaction.title %></td>
        <td><%= interaction.category %></td>
        <td><%= interaction.pcs %></td>
        <td><%= interaction.text %></td>
        <td><%= interaction.timestamp %></td>
        <td><%= link_to 'Show', interaction %></td>
        <td><%= link_to 'Edit', edit_interaction_path(interaction) %></td>
        <td><%= link_to 'Destroy', interaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Interaction', new_interaction_path %>
