<li class="navSiteMapList">
   <a href="#" class="styleMySiteMapIcons"><%= image_tag "linkedInPlaceHolder50x50.png", :class => "styleMySiteMapIcons" %></a>
   <a href="#" class="styleMySiteMapIcons"><%= image_tag "facebookPlaceHolder50x50.png", :class => "styleMySiteMapIcons"  %></a>
   <a href="https://twitter.com/mdbeckley_rails" class="styleMySiteMapIcons"><%= image_tag "twitterPlaceHolder50x50.png", :class =>  "styleMySiteMapIcons" %></a>
   <a href="#" class="styleMySiteMapIcons"><%= image_tag "instaPlaceHolder50x50.png", :class => "styleMySiteMapIcons"  %></a>
   <a href="#" class="styleMySiteMapIcons"><%= image_tag "googlePlusPlaceHolder50x50.png", :class => "styleMySiteMapIcons"  %></a>
</li>