<!DOCTYPE html>
<%= render :partial => 'shared/head' %>
<body>
<%= render :partial => 'shared/topNavBar' %>
<%= render :partial => 'carousel/homeCarouselcode' %>
<%= render :partial => 'shared/insertDeviseStuff.html.erb' %>
<%= render :partial => 'shared/btmHomeCustNavContainer' %>
</body>
</html>