<div id="interactTwoTableContent">  <!-- Responsive tables and table cell data limitations on entry and security !!! -->

<table id="tryVCRtableOut">
<tr>
<td>User<a href="#"><%= image_tag "infoTriangle.png"%></a></td>
<td>Info</td>
<td>EMR Function <%= image_tag "toggleBtnPlcHldr.png" %></td>
<td>Title   <%= image_tag "toggleBtnPlcHldr.png" %></td>
<td>Category  <%= image_tag "toggleBtnPlcHldr.png" %></td>
<td>PCS/Rating  <%= image_tag "toggleBtnPlcHldr.png" %></td>
<td>Time Left  <%= image_tag "toggleBtnPlcHldr.png" %></td>
<td>Contact</td>
<td>Request</td></tr>
<tr>
<td><a>SaraAdmin </a><%= image_tag "examplePath.png" %> </td>
<td>Info</td>
<td>Admin User </td>
<td>Scam Alert </td>
<td>Scam Title </td>
<td>Icon </td>
<td>43v3R</td>
<td><button>--------- </button></td>
<td><a href="readAAdmin.html">Read  </a></td>
</tr>
<tr>
<td><a href="userProfileInformation.html">SuperCredit guy </a><%= image_tag "examplePath.png" %></td>
<td>Info</td>
<td>Consumer User </td>
<td>Better Credit Card </td>
<td>Credit Cards </td>
<td>723 <%= image_tag "magnifyIcon.png" %></td> <!-- Consider an onHover command for more PCscore info -->
<td>43v3R</td>
<td><button>Contact </button></td>
<td><a href="readARequest.html">Read  </a></td>
</tr>
<tr>
<td><a>Bob </a> </td>
<td>Info</td>
<td>Consumer User </td>
<td> Credit Card </td>
<td>Credit Cards </td>
<td>723 <%= image_tag "magnifyIcon.png" %></td>
<td>7 days</td>
<td><button>Contact </button></td>
<td><a href="#">Read  </a></td>
</tr>
<tr>
<td><a>Samantha </a> </td>
<td>Info</td>
<td>Consumer User </td>
<td>Jewelry Repair </td>
<td>Jewelry </td>
<td>723 <%= image_tag "magnifyIcon.png" %></td>
<td>30 days</td>
<td><button>Contact </button></td>
<td><a href="#">Read  </a></td>
</tr>
<tr>
<td><a>Regional Bank </a><a href="additionalInfoPage.html"><%= image_tag "infoTriangle.png"%></a><%= image_tag "examplePath.png" %></td>
<td>Info</td>
<td>Provider User </td>
<td>Credit Card Offer </td>
<td>Credit Cards </td>
<td><a href="#">EMR Rating</a></td>
<td>16 days</td>
<td><button>Contact </button></td>
<td><a href="readARegionalBankExample.html">Read  </a></td>
</tr>
<tr>
<td><a>Not Mechanical </a> </td>
<td>Info</td>
<td>Consumer User </td>
<td>Water Pump</td>
<td>Auto Repair</td>
<td>723 <%= image_tag "magnifyIcon.png" %></td>
<td>3 days</td>
<td><button>Contact </button></td>
<td><a href="#">Read  </a></td>
</tr>
<tr>               
<td><a>Oil Service </a><a href="additionalInfoPage.html"><%= image_tag "infoTriangle.png"%></a> </td>
<td>Info</td>
<td>Provider User </td>
<td>Oil and Filter Change </td>
<td>Auto Service </td>
<td><a href="#">EMR Rating</a></td>
<td>43v3R</td>
<td><button>Contact </button></td>
<td><a href="#">Read  </a></td>
</tr>
</tr>
<tr>               
<td><a>North Dentistry </a><a href="additionalInfoPage.html"><%= image_tag "infoTriangle.png"%></a> </td>
<td>Info</td>
<td>Provider User </td>
<td>Free Cleaning </td>
<td>Dentistry </td>
<td><a href="#">EMR Rating</a></td>
<td>43v3R</td>
<td><button>Contact </button></td>
<td><a href="#">Read  </a></td>
</tr>
<tr>               
<td><a>South Legal </a><a href="additionalInfoPage.html"><%= image_tag "infoTriangle.png"%></a> </td>
<td>Info</td>
<td>Provider User </td>
<td>Free Consult </td>
<td>Legal Counsel </td>
<td><a href="#">EMR Rating</a></td>
<td>43v3R</td>
<td><button>Contact </button></td>
<td><a href="#">Read  </a></td>
</tr>
<tr>               
<td><a>GoodVet </a><a href="additionalInfoPage.html"><%= image_tag "infoTriangle.png"%></a> </td>
<td>Info</td>
<td>Provider User </td>
<td>10% off </td>
<td>Veternarian </td>
<td><a href="#">EMR Rating</a></td>
<td>43v3R</td>
<td><button>Contact </button></td>
<td><a href="#">Read  </a></td>
</tr>
<tr>               
<td><a>Build Houses </a><a href="additionalInfoPage.html"><%= image_tag "infoTriangle.png"%></a><%= image_tag "examplePath.png" %></td>
<td>Info</td>
<td>Provider User </td>
<td>New Development </td>
<td>Contractor </td>
<td><a href="#">EMR Rating</a></td>
<td>180 days</td>
<td><button>Contact </button></td>
<td><a href="#">Read  </a></td>
</tr>
<tr>               
<td><a>North Electrical </a><a href="additionalInfoPage.html"><%= image_tag "infoTriangle.png"%></a><%= image_tag "examplePath.png" %></td>
<td>Info</td>
<td>Provider User </td>
<td>Free Consultation</td>
<td>Res Electrical </td>
<td><a href="#">EMR Rating</a></td>
<td>90 days</td>
<td><button>Contact </button></td>
<td><a href="#">Read  </a></td>
</tr>
<tr>
<td><a>NewRoofNow </a> </td>
<td>Info</td>
<td>Consumer User </td>
<td>New Roof</td>
<td>Construction</td>
<td>723 <%= image_tag "magnifyIcon.png" %></td>
<td>43v3R</td>
<td><button>Contact </button></td>
<td><a href="#">Read  </a></td>
</tr>
</table>

</br>
</br>
<p>Page </p>
<a href="#">< Previous </a>
<a href="#">1 </a><a href="#">2 </a>
<a href="#">3 </a><a href="#">4 </a>
<a href="#">5 </a><a href="#">... </a>
<a href="#">7 </a><a href="#">Next ></a> 
</br>
<a href="Home.html">Go Home</a>
</div>
